body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5; /*space out*/
    margin: 0;
    padding: 0;
    background-color: #fefbe0; 
    color: #333;
}

header {
    background: #a197ff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.main-container {
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

.info-column {
    flex: 0 1 65%; 
    background: #faf9f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

.cv-column {
    flex: 0 1 35%; 
    background: #faf9f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

h2 {
    color: #a197ff;
}

ul {
    padding-left: 20px;
}

a {
    color: #a197ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.skill-item {
    text-align: center;
}

.skill-item img {
    width: 60px;
    height: 60px;
    object-fit: contain; /* make the photos space out evenly */
    margin-bottom: 0.5rem;
}